* RESET ALL PADDING AND MARGIN */
*
{
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    margin: 0;
    font-family: "Roboto";
    color: #575A5E;
    font-size: 0.8em;
    overflow-x: hidden;
}

/*HEADER*/

header {
    position: fixed;
    width: 100%;
    height: 100px;
    border: 1px solid #fff;
    background-color: #fff;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: #575A5E;
    text-decoration: none;
}

li {
    text-decoration: none;
}

header a {
    color: #575A5E;
    text-decoration:none;
    position:relative;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    display: block;
    padding: 14px 16px;
    float: left;
    width: 50%;
    left: 15%;
}

header a:after{
    content:'';
    width:0%;
    margin-left:50%;
    height:2px;
    top: 0;
    left:0;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    border-radius:40%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
    position:absolute;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition:all 0.5s;
}

header a:hover:after {
    background-color: #5DADD2;
    width:60%;
    margin-left:20%;
    -moz-box-shadow: 10px 0px 0px #5DADD2;
    -webkit-box-shadow: 10px 0px 0px #5DADD2;
    -o-box-shadow: 10px 0px 0px #5DADD2;
    box-shadow: 10px 0px 0px #5DADD2;
}

header a.accueil {
    color: #5DADD2;
}

#container-logo-menu {
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo-container {
    width: 20%;
}

#logo-container img {
    width: 100%;
}

/*SLIDER*/

#slideshow {
    position: relative;
    top: 125px;
    width: 100%;
}

.slide-fade {
    position: relative;
    width: 100%;
}

#slider-img {
    width: 100%;
}

/* Adding global class arrow */

.arrow
{
    position: absolute;
    top: 45%;
    width: 1.5em;
    height: 2.5em;
    border: 1px solid #000000;
    background-color: #000000;
    opacity: 0.5;
}

#arrow-left {
    left:0;
    border-radius: 0 2em 2em 0;
}

.prev {
    position: absolute;
    top: 31%;
    left: 4px;
    color: #fff;
    cursor: pointer;
}

#arrow-right {
    right: 0;
    border-radius: 2em 0 0 2em;
}

.next {
    position: absolute;
    top: 31%;
    right: 4px;
    color: #fff;
    cursor: pointer;
}

.webagency-intro {
    position: absolute;
    top: 25%;
    left: 7%;
    font-size: 1vw; /* Formatage du texte */
   /* width: 400px; PAS BESOIN */
}

h1 {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

span {
    color: #5DADD2;
    text-transform: uppercase;
}

.slider-paragraphe {
    color: #fff;

}

.button-info {
    border: 1px solid #5DADD2;
    background-color: #5DADD2;
    border-radius: 2px;
    text-align: center;
    width: 13%; /* FIXING WIDTH IN PERCENT SO IT'S RESPONSIVE*/
    padding: 0.5rem; /* ADDING A PADDING ON BUTTON TO HAVE SPACE */
    font-size: 1vw; /* GIVING A SIZE TO THE POLICE */
    white-space: nowrap; /* KEEP THE SAME SPACE */
    margin-top: 1rem;
}

.button-info a {
    text-decoration: none;
    color: #fff;
}

/* SERVICES */

#section-services {
    position: relative;
    top: 200px;
    width: 100%;
}

#services-h2 {

}

.separator {

}
#services-intro {

}

#services-content {

}

#services-content img {

}

#services-info {

}

.services-blocks {

}

.services-icons {

}

.blue-dot {

}

.fas {

}

.services-speech {

}

h3 {

}

